.new-tweet {
 width: 100%;
 margin-bottom: 50px;
 color: rgb(68, 68, 68);
}

#tweet-text {
  width: 100%;
  max-height: 40px;
  background: none;
  border: none;
  border-bottom: 5px solid black;
}

.button {
  font-family: 'Bungee', cursive; 
  color: white;
  background-color: #4056A1;
}

.counter {
  float: right;
  font-family: 'Bungee', cursive; 
  color: black;
}

.charLimit {
  color: red;
}

.errorCharLimit {
  border-style: solid;
  border-color: red;
  background-color:red;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.errorNoChar {
  border-style: solid;
  border-color: red;
  background-color:red;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

@media only screen and (min-width: 1024px) {
  .new-tweet {
    width: 90%;
    margin-bottom: 50px;
    color: rgb(68, 68, 68);
   }
}