div#tweets-container {
  display: flex;
  justify-content: center;
  width: 90%;
  flex-direction: column;
}

section#tweets-container {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgb(241, 230, 215);
  color: rgb(69, 69, 69);
}

.tweetArea {
  width: 90%;
  margin-bottom: 40px;
}

.userHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 20px;
  align-items: center;   
}

.userProfile {
  display: flex;
  align-items: center;
}

.tweetText {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tweetFooter {
  border-top: solid;
  border-color: black;
  padding-top: 10px;
  border-width: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px; 
  font-size: 20px;
  flex-flow: row wrap;
}

.timeAgo {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
}

.allTweets:hover{
  box-shadow: 10px 10px 10px 10px black;
}

i:hover {
  color:darkgoldenrod;
}